.navbar__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0rem;
}

.navbar__wrapper a {
  text-decoration: none;
}

.navbar__wrapper a:hover {
  color: rgb(103, 103, 224);
}

.image__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.--active {
  color: rgb(103, 103, 224);
}

.--regular {
  color: white;
}
