.use-effect-page__custom-hook-form__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin: 2rem;
}

.use-effect-page h2 {
  text-align: left;
}

.use-effect-page p {
  width: 100%;
  text-align: left;
}

.use-effect-page__custom-hook-form {
  width: 100%;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
  background-color: rgb(202, 235, 235);
  padding: 2rem;
}

@media (min-width: 600px) {
  .use-effect-page__custom-hook-form__article {
    flex-direction: row;
    gap: 3rem;
    margin: 0rem;
  }

  .use-effect-page p {
    width: 30%;
    text-align: left;
  }

  .use-effect-page__custom-hook-form {
    width: 50%;
  }
}
